@use '../../globalStyler.scss' as *;

.heroSection {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 5rem 5rem;
}
.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  h1 {
    color: $black;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .herotext {
    font-size: 1.9rem;
    width: 80%;
  }
}

.tag {
  display: flex;
  align-items: center;
  background-color: $gray;
  width: 240px;
  padding: 0.7rem 1.2rem;
  justify-content: center;
  border-radius: 50px;
  gap: 0.5rem;

  span {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.buttons {
  display: flex;
  gap: 2rem;

  :nth-child(2) {
    border: 1.5px solid $green;
    background-color: $white;
    color: $green;
  }
}
@media (max-width: 480px) {
  .heroSection {
    padding: 1rem;

    .hero {
      width: 100%;
      text-align: center;
      margin-block: 2rem;
      gap: 1rem;

      h1 {
        font-size: 2.75rem;
        text-align: center;
      }
      .herotext {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
  .tag {
    margin: 0 auto;
    width: 200px;
    padding: 0.5rem;

    img {
      width: 28px;
    }
    span {
      font-size: 1rem;
    }
  }
  .heroImage {
    display: none;
  }

  .buttons {
    flex-direction: column;
    gap: 0.7rem;

    a {
      margin: auto;
      width: 95%;
      font-size: 1.2rem;
    }
  }
}
