@use '../../globalStyler.scss' as *;

.heroSection {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 5rem 5rem;
}
.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  h1 {
    color: $black;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .herotext {
    font-size: 1.9rem;
    width: 80%;
    line-height: 39px;
  }
}

.tag {
  display: flex;
  align-items: center;
  background-color: $gray;
  width: 245px;
  height: 56px;
  justify-content: center;
  border-radius: 50px;
  gap: 0.5rem;

  span {
    font-size: 20px;
    font-weight: 500;
  }
}
.buttons {
  display: flex;
  gap: 2rem;

  :nth-child(2) {
    border: 1.5px solid $green;
    background-color: $white;
    color: $green;
  }
}
