@use '../../globalStyler.scss' as *;
.cardText {
  display: flex;
  justify-content: space-between;

  article {
    border: 1px solid $white;
    padding-block: 2rem;
  }
  p {
    color: $white;
  }
}
