@use '../../globalStyler.scss' as *;
.cardText {
  display: flex;
  justify-content: space-between;

  article {
    border: 1px solid $white;
    padding-block: 2rem;
  }
  p {
    color: $white;
  }
}
@media (max-width: 480px) {
  .cardText {
    flex-direction: column;
    gap: 1rem;
    article {
      width: 90%;
      margin: auto;

      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
