@use '../../globalStyler.scss' as *;

.boxLogo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  img {
    width: 50px;
  }
  a {
    color: $black;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
