@use '../../globalStyler.scss' as *;

.card {
  width: 470px;
  height: 230px;
  border-radius: 14px;
  padding-inline: 3rem;
  text-align: center;

  h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 1.5rem;
  }
  p {
    color: $black;
    font-size: 1.25rem;
  }
}
