@use '../../globalStyler.scss' as *;

.card {
  width: 28vw;
  height: auto;
  border-radius: 14px;
  padding: 1.2rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 1.25rem;
  }
  p {
    color: $black;
    font-size: 1.25rem;
  }
}
