@use '../../globalStyler.scss' as *;
.hamburguer {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  border-bottom: 2px solid gray;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    font-weight: 500;
    color: $black;
    font-size: 1.4rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 480px) {
  .hamburguer {
    display: block;
    padding-right: 0.5rem;
    z-index: 20;
  }
  .header {
    padding: 0.5rem;

    div {
      img {
        width: 30px;
      }
      a {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
  nav {
    display: none;
    gap: 1rem;

    &.open {
      display: flex; // Mostra o menu
      flex-direction: column; // Itens um embaixo do outro

      // Posicionamento do menu flutuante
      position: absolute;
      top: 100%; // Posiciona logo abaixo do header
      right: 0;
      width: 40%;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      z-index: 10;

      // Estilo dos links dentro do menu aberto
      a {
        width: 100%;
        text-align: right; // Centraliza o texto no modo mobile
        background-color: transparent;
        color: $black;
        font-size: 1rem;
      }
    }
  }
}
