@use '../../globalStyler.scss' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 2px solid gray;

  .boxLogo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  a {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    font-weight: 500;
  }
}
