header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 2px solid gray;

  .box-logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}
