@use '../../globalStyler.scss' as *;
.hamburguer {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  border-bottom: 2px solid gray;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  a {
    font-weight: 500;
    color: $black;
    font-size: 1.4rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
@media (max-width: 480px) {
  .hamburguer {
    display: block;
    padding-right: 0.5rem;
  }
  .header {
    padding: 0.5rem;

    div {
      img {
        width: 30px;
      }
      a {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
  nav {
    display: none;
  }
}
