@use '../../../globalStyler.scss' as *;

.sectionText,
.sectionNum {
  padding: 3rem 5rem 5rem;
}
.sectionText {
  background-color: $green;
  color: $white;
}
@media (max-width: 480px) {
  .sectionText,
  .sectionNum {
    padding: 3rem 1rem;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 0.95rem;
    }
  }
}
