@use '../../globalStyler.scss' as *;

.cardNumbers {
  display: flex;
  justify-content: space-between;

  div {
    border: 1px solid $black;
    width: 340px;
    height: 240px;

    h3 {
      font-size: 3.2rem;
      color: $green;
      margin-bottom: 2.5rem;
    }
  }
}
