@use '../../globalStyler.scss' as *;

.cardNumbers {
  display: flex;
  justify-content: space-between;

  article {
    border: 1px solid $black;
    width: 20vw;
    height: 240px;

    h3 {
      font-size: 3.2rem;
      color: $green;
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 480px) {
  .cardNumbers {
    flex-direction: column;
    gap: 0.5rem;
    article {
      width: 70%;
      height: 180px;
      margin: auto;
      padding-inline: 2rem;

      p {
        font-size: 0.9rem;
      }
    }
  }
}
