@use '../../globalStyler.scss' as *;

.link {
  background-color: $green;
  color: white;
  border: none;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  font-size: 1.4rem;
  line-height: 29px;
  text-align: center;
  padding-top: 0.6rem;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.2);
  }
}
