@use '../../globalStyler.scss' as *;

footer {
  background-color: $dark-color;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  padding: 3rem 0;
}
.footerContainer {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.logoFooter {
  p {
    margin-top: 1.2rem;
    font-size: 1rem;
    width: 340px;
  }
  a {
    color: $white;
  }
}
p,
a {
  font-size: 1rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}
a {
  color: $white;
  line-height: 20px;

  &:hover {
    text-decoration: underline;
  }
}
li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 0.5rem;
}
