@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
}

$green: #00745a;
$dark-color: #0b0b0b;
$black: #000000;
$white: #ffffff;
$gray: #e5e5e5;
